QK_ARCHIVE_BASE=/home/user/Dropbox/Documents/Archive
QK_ARCHIVE_ODS=Archive.ods
QK_ARCHIVE_NUM_SHEETS=3
QK_ODS2CSV_EXEC="$SCRIPT_DIR/ods2csv"
QK_TIV_EXEC="tiv"
QK_LOG_LEVEL="INFO"
QL_PRINT_CMD="brother_ql --model QL-810W --printer tcp://10.0.0.2 -l 62"
